* {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    text-align: center;
}

.container {
    padding-top: 50px;
    width: 960px;
    margin: auto;
}

.section_Exp {
    position: relative;
    padding-top: 106px;
}

section {
    margin-bottom: 50px;
}
.main_Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 80px;
    width: 100%;
}

.main_Banner img {
    width: 695px;
}
.section_Exp:nth-child(even) .main_Banner{
    padding:0 80px 0 0
}

/* ==========.main_Article============= */
.card {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section_Exp:nth-child(even) .card{
    flex-direction: row-reverse;
}

.card .main_Article {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(146, 11, 11);
    height: fit-content;
}
.section_Exp:nth-child(even) .card .main_Article{
    flex-direction: row-reverse;
}


.card .main_Article {
    line-height: 1;
}

.card .main_Article>p:first-child {
    writing-mode: vertical-lr;
    font-size: 106px;
    width: fit-content;
}

.card .main_Article .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    flex-grow: 1;
}

.card .main_Article .text {
    background-color: black;
    text-align: left;
    padding: 16px 16px;
    line-height: 1.5;
}

/* =========.gray_area================= */
.gray_Area {
    margin-top: 32px;
    width: 400px;
    height: 300px;

    background-color: rgba(101, 93, 93, 0.2);
    z-index: -1;
}
.section_Exp:nth-child(even) .gray_Area {
    position:absolute;
    right:50px;
    top: 20px;
}


/* =====change_Text============== */
.change_Info {
    position: relative;
    top: -35px;
    background-color: #F0F0F0;
    width: 680px;
    text-align: left;
    padding: 12px 24px;
    margin: 0 0 0 50px;
}
.section_Exp:nth-child(even) .change_Info {
    margin-left: auto;
}

.change_Info .title {
    color: rgb(146, 11, 11);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 12px 0;
}

.change_Info .title::after {
    content: "";
    background-color: rgb(146, 11, 11);
    height: 1px;
    flex-grow: 1;
}

.change_Info .change_List .item  h3 {
    font-size: 16px;
    background-color: black;
    padding: 1px 5px;
    border-radius: 3px;
    color: white;
    width: fit-content;
}


.change_Info .change_List .item p:last-child:before {
    content: "·";
    color:rgb(146, 11, 11);
    font-size: 26px;
    vertical-align: middle;
}


