body {
    font-family: 'Noto Sans TC', 'Roboto', 'Avenir Next', 'Microsoft JhengHei', '微軟正黑體'
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

p {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

nav {
    margin: auto;
    height: 10vh;
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    box-shadow: 0px 2px 5px gray;
    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list .item {
    text-align: center;
    margin: 0 10px;
}

.nav-list .item:first-child a {
    color: #01e101;
    font-size: 24px;
    font-weight: 900;
}


.downloadlink a {
    background-color: #01e101;
    border-radius: 50px;
    padding: 10px 30px;
    margin: auto;
    color: whitesmoke;
}
.wrap{
    width: 960px;
    margin: auto;

}
.container{
    margin: auto;
}

main {
    padding-top: 10vh;
}

/* =============banner==================================== */
.section-mainBanner {
    position: relative;
    width: 100%;
    /* height: 90vh; */
    background-image: url("./imgSource/mainBanner.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-position: center center;
}

.banner-top {
    align-self: flex-start;
}

/* 感覺要另外包會比較好 */
.banner-desc {
    /* width:  100%; */
    margin: 80px 0;
    align-self: center;
    text-align: left;
}

.banner-desc h1 {
    color: #01e101;
    font-size: 36px;
    font-weight: bolder;
    margin: 20px 0;
}

.banner-desc p {
    margin: 20px 0;
}

.banner-desc a {
    background-color: #00c300;
    border-radius: 50px;
    margin: 5px 0;
    padding: 10px 30px;
    color: whitesmoke;
}

.banner-desc p:nth-last-child(1) {
    font-size: 16px;
    color: #00c300;
    font-weight: bold;
}

.banner-bottom {
    align-self: flex-end;
}

/* ===================exclusive============================= */
.section-exclusive {
    padding: 100px 0;
}

.excusive-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.excusive-title strong {
    font-size: 36px;
}

.excusive-title strong span {
    color: #01e101;
}

.excusive-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.excusive-contain:nth-child(3) {
    flex-direction: row-reverse;
}

.excusive-text {
    width: 480px;
}

.excusive-pic {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;

}


.excusive-text h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #01e101;
    margin-bottom: 10px;
}

.excusive-text p {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

/* =============partner=============================== */
.section-partner {
    margin: auto;
    padding: 100px 0;
  

}

.partner-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: black;
    margin-bottom: 50px;

}

.partner-itemList .item {
    width: 300px;
    margin: 10px;
}

.partner-itemList {
    display: flex;
    justify-content: space-around;
}

.partner-itemList .item {
    text-align: center;
}

.partner-itemList .item h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}


/* ==================userExp========================== */


.section-userExp {
    margin: auto;
    padding: 100px 0;

}

.userExp-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: black;
    margin-bottom: 50px;

}

.userExp-itemList .item {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    align-content: space-between;
    padding: 20px;
}

.userExp-itemList {
    display: flex;
    justify-content: space-around;
}

.userExp-itemList .item-text {
    text-align: left;
    margin-bottom: 10px;
}

.userExp-itemList .item-text img {
    transform: scaleX(-1);
}

.userExp-itemList .item-text h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

.userExp-itemList .item-logo {
    margin: 0 0 0 auto;
}

.userExp-itemList .item-logo img {
    vertical-align: bottom;
    height: 30px;
}


/* =============advertise================================ */
.section-advertise {
    margin: auto;
    padding: 100px 0;
    
}

.advertise-title {
    text-align: center;
}

.advertise-title h2 {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.advertise-title p {
    font-size: 16px;
    font-weight: bold;
    color: #01e101;
}

/* ============sighUp================================ */
.section-sighUp {
    margin: auto;
    padding: 100px 0px;

}

.sighUp-form {
    display: flex;
    flex-wrap: wrap;
}

.sighUp-title p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 40px;

}

.sighUp-form {
    display: flex;
    flex-wrap: wrap;
}

.sighUp-form .form-item {
    width: 400px;
    padding: 10px 40px;
}

.sighUp-form .form-item input,
.sighUp-form .form-item select {
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.sighUp-form .form-item select {
    box-sizing: content-box;
}

.sighUp-form>p {
    padding-left: 40px;
}

.sighUp-Btn {
    text-align: center;
}

.sighUp-Btn button {
    background-color: #00c300;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #00c300;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* ================footer========================== */
footer {
    background-color: #2c323f;
}

.main-footer,
.copyRight {
    width: 960px;
    margin: auto;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom:  1px solid whitesmoke;
}

.footer-list {
    margin-right: auto;
    display: flex;
}

.footer-list .item {
    margin:0 20px 0 0;
    
}

.footer-list .item li{
    margin: 10px 0;
    color: white;
    opacity: 0.8;

}
.footer-list .item ul li:first-child{
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}

.footer-other .social-list img{
    width: 30px;
    height: 30px;

}
.footer-other .social-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding-top: 10px;
}
.footer-other .social-list p{
    color: white;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}
.footer-other .powerby p{
    color: white;
    margin: 15px 0;
}
.footer-other .powerby p:nth-child(2){
    font-size: 24px;
}



.copyRight {
    display: flex;
    align-items: baseline;
    padding: 10px 0;
    
}
.copyRight p,.copyRight ul li a{
    color: white;
    opacity: 0.7;
}
.copyRight ul li {
    margin: 0 10px;
}

.privacy-list {
    display: flex;
}

.language {
    display: flex;
    margin-left: auto;
}
.language img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.language select{
    background-color: #2c323f;
    border-style: none;
    color: white;

}

small {
    font-size: 13px;
    color: gray;
    opacity: 0.8;

}
section{
    width: 100%;
}
section:nth-child(2n) {
    background-color: #f5f6f9;

}